p {
    margin: 0pt 0pt 8pt
}

li {
    margin-top: 0pt;
    margin-bottom: 8pt
}

.CommentSubject {
    margin-bottom: 8pt;
    line-height: normal;
    font-size: 10pt;
    font-weight: bold
}

.CommentText {
    margin-bottom: 8pt;
    line-height: normal;
    font-size: 10pt
}

.Footer {
    margin-bottom: 0pt;
    line-height: normal;
    font-size: 11pt
}

.Header {
    margin-bottom: 0pt;
    line-height: normal;
    font-size: 11pt
}

.ListParagraph {
    margin-left: 36pt;
    margin-bottom: 8pt;
    line-height: 108%;
    font-size: 11pt
}

.NormalWeb {
    margin-top: 5pt;
    margin-bottom: 5pt;
    line-height: normal;
    font-family: 'Times New Roman';
    font-size: 12pt
}

.Revision {
    margin-bottom: 0pt;
    line-height: normal;
    font-size: 11pt
}

span.CommentReference {
    font-size: 8pt
}

span.CommentSubjectChar {
    font-size: 10pt;
    font-weight: bold
}

span.CommentTextChar {
    font-size: 10pt
}

span.FollowedHyperlink {
    text-decoration: underline;
    color: #954f72
}

span.Hyperlink {
    text-decoration: underline;
    color: #0000ff
}

span.Strong {
    font-weight: bold
}

span.UnresolvedMention {
    color: #605e5c;
    background-color: #e1dfdd
}