.custom-con {
    width: 100%;
    margin-right: auto;
  
    margin-left: auto;
  }
  @media (max-width: 576px) {
    .custom-con {
      max-width: 456px !important;
      padding: 0 10px;
    }
  }
  
  @media (min-width: 576px) {
    .custom-con {
      max-width: 540px !important;
    }
  }
  @media (min-width: 768px) {
    .custom-con {
      max-width: 720px !important;
    }
  }
  @media (min-width: 992px) {
    .custom-con {
      max-width: 960px !important;
    }
  }
  @media (min-width: 1200px) {
    .custom-con {
      max-width: 1140px !important;
    }
  }
  @media (min-width: 1400px) {
    .custom-con {
      max-width: 1380px !important;
    }
  }
  @media (min-width: 1600px) {
    .custom-con {
      max-width: 1520px !important;
      
    }
  }
  /* partner */
  
   .partner_box .partner__sub-title {
    margin: 0 auto;
    text-align: center;
  }
   .partner_box .partner_card {
    display: flex;
    justify-content: space-between;
  
    margin: 0 auto;
    max-width: 1200px;
  }
  .partner_card-1 {
    width: 350px;
  
    text-align: center;
  }
  
  .card-1_icon {
    display: flex;
  }
  
  @media (max-width: 768px) {
     .partner_box .partner_card {
      display: flex;
      flex-direction: column;
      gap: 10px;
  
      text-align: center;
    }
  }
  @media (max-width: 576px) {
    .card-1_icon {
      display: flex;
      justify-content: space-between;
    }
    .partner_card-1 {
      margin: 0 auto;
      width: 250px;
    }
    .partner_card {
      padding-bottom: 20px;
    }
     .partner_box .partner__sub-title p {
     padding: 20px 0;
    }
  }
  