

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
 

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .swiper-pagination-horizontal {
  width: 200px !important;
  margin-top: 200px;

}
.swiper-pagination-bullet-active {
  background-color: #4C5DF5!important;
  width: 50px !important;
  height: 8px !important;
  border-radius: 50px !important;


} */
