.modalqr {
  max-width: 960px;
  
   background-color: #fff;
   display: flex;
   align-items: center;
   border-radius: 40px;
   overflow: hidden;
 }
 .gradient{
   background-image: linear-gradient(
     to right top,
     #fff,
     #e4e7ff,
     
 
     rgba(77, 93, 245, 0.9)
   );
   border-radius: 80px 0 0 0;
 }
 
 .qr-left {
   max-width: 40%;
   
   float: left;
   text-align: center;
   margin-left: 100px;
 }
 .qr-left h2{
     margin-bottom: 50px;
 }
 .qr-right {
   background-image: linear-gradient(
     to right,
     #fff,
     #e4e7ff,
     rgba(77, 93, 245, 0.5)
   );
   margin-right: -20px;
 
   border-radius: 223px 0 0 0;
   height: 463px;
   max-width: 60%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
 
 
 
 .qr-right .qr-container{
     height: 232px;
     max-width: 232px;
     width: 100%;
     background-color: #fff;
     display: grid;
     place-items: center;
     border-radius: 39px;
     border: 1px solid #0017E3;
 
 }
 
 @media screen and (max-width:586px) {
   .small{
     display: flex !important;
   }
   .big{
     display: none;
   }
 
 }